/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
docker-compose.yaml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/storage/logs
/last_logs.txt
/test_mail.php
/test_passport.php
/docker-compose.yaml
